<% content_for :title, "Programs" %>

<div class="O_BlockCardName">
  <div class="M_Header">
    <h1 class="page_title">Программы</h1>
    <%= link_to "Добавить программу", new_admin_program_path, class: 'M_ButtonAdd'%>
  </div>
  <div id="programs">
    <% @programs.each do |program| %>
      <%= link_to admin_program_path(program), class: 'program_card' do %>
        <%= render program %>
      <% end %>
    <% end %>
  </div>
</div>