<%= render @program %>

<div>
  <%= link_to "Edit this program", edit_admin_program_path(@program) %> |
  <%= link_to "Back to programs", admin_programs_path %>

  <%= button_to "Destroy this program", admin_program_path(@program), method: :delete %>
</div>
