<%# здесь будет рендеринг %>
<body class = 'about'>

<div class = 'logo'></div>
<h2>Все ивенты и встречи<br>Вышки в одном месте</h2>
<div class = 'people_star'></div>
<div class ='interface yellow'>
<h2>Вспышка, которая позволит<br>захватить мгновение<br>и получить максимум пользы от времени в универе</h2>
<div class='interface_img'></div>
</div>

<div class = 'simple_block'>
<h2>Миссия</h2>
<h3>Наша <span class = 'highlighted'>миссия</span> — сблизить студентов через популяризацию внеучебки и сделать посещение проведение ивентов проще</h3>
</div>

<div class = 'simple_block'>

<h2>Фичи</h2>
<div class = 'iphone'></div>

</div>


</body>