<%# здесь будет рендеринг %>
<body class = 'about'>

<div class = 'logo'></div>
<h2>Все ивенты и встречи<br>Вышки в одном месте</h2>
<div class = 'people_star'></div>
<div class ='interface yellow'>
<h2>Вспышка, которая позволит<br>захватить мгновение<br>и получить максимум пользы от времени в универе</h2>
<div class='interface_img'></div>
</div>

<div class = 'simple_block'>
<h2>Миссия</h2>
<h3>Наша <span class = 'highlighted'>миссия</span> — сблизить студентов через популяризацию внеучебки и сделать посещение проведение ивентов проще</h3>
</div>

<div class = 'simple_block'>
<h2>Фичи</h2>
<div class = 'iphone'></div>
</div>

<div class ='team yellow'>
<h2>Команда</h2>

<div class = 'members'>

 <div class = 'member'>
 <div class = 'person dima'></div>
 <h4>Дима</h4>
 <h5>Айдентика и фуллстек-разработка</h5>
 <h5>Знает про Вышку примерно все</h5>
 </div>

 <div class = 'member'>
 <div class = 'person katya'></div>
 <h4>Катя</h4>
 <h5>Интерфейс и iOS разработка</h5>
 <h5>Организует и посещает ивенты</h5>
 </div>

 <div class = 'member'>
 <div class = 'person diana'></div>
 <h4>Диана</h4>
 <h5>Исследования и интерфейс</h5>
 <h5>Менторит и волонтерит</h5>
 </div>

 </div>
</div>

</div>


</body>