<div class="slider-wrapper">
      <canvas></canvas>
    </div>
    
    <div class="categories">
      <div class="category">Тег 1</div>
      <div class="category">Тег 2</div>
      <div class="category">Тег 3</div>
      <div class="category">Тег 4</div>
    </div>

    <div id="new_mailer">
    <%= render "mailers/form"  %>
</div>

<%= render "application/footer"  %>

<%# api_v1_events_url %>