<%# здесь будет рендеринг %>
<div class = 'logo'></div>

<p>Все ивенты и встречи<br>
Вышки в одном месте</p>

    <div class='VerticalContainer'>
    <h1>Следи за обновлениями</h1>
    <h2>Подписывайся на рассылку</h2>
    </div>

<%= render "application/footer"  %>


<div id="new_mailer">
    <%= render "mailers/form"  %>
</div>
