<% content_for :title, "Подписки" %>

<div class="O_BlockCardName">
  <div class="M_Header">
    <h1 class="page_title">Подписки</h1>
  </div>
  <div id="mailers">
    <%= render @mailers %>
  </div>
</div>