 /* Комментарии */
 
 .comment_block {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}