<nav class="S_Footer">
    <div class="W_MainPagesLinks">
        <%= link_to "Главная", root_url %>
        <%= link_to "О проекте", welcome_about_url %>
        <% if user_signed_in? %>
            <%= link_to "Ивенты", events_url %>
        <% end %>
    </div> 
</nav>