<nav class = "S_Footer">
    <div class='VerticalContainer'>
    <h2>Главная</h2>
    <p>О проекте</p>
    </div>


<div class = 'Alignment'
    <div class='VerticalContainer'>
    <h2>Команда</h2>
    <p>@катя @дима @диана</p>
    </div>
    
    <div class = 'footer_star'></div>



    <div class='VerticalContainer'>
    <h2>HSE ADC’24</h2>
    <p>@захар @вадим</p>
    </div>
</div>


</nav>