<nav class = "S_MenuBar">
    <%= link_to "Главная", root_url %>
    <%= link_to "О проекте", welcome_about_url %>
    <%= link_to "Сообщества", communities_url %>
    <%= link_to "Ивенты", events_url %>
</nav>