<p style="color: green"><%= notice %></p>

<% content_for :title, "Communities" %>

<h1>Communities</h1>

<% if user_signed_in? %>
  <%= link_to "New community", new_admin_community_path %>
<% end %>

<div id="communities">
  <% @communities.each do |community| %>
    <%= link_to community_path(community), class: 'event_card' do %>
      <%= render "communities/community", community: community %>
    <% end %>
  <% end %>
</div>
