<% content_for :title, "Communities" %>

<div class="O_BlockCardName">
<div class="M_Header">
<h1 class="page_title">Сообщества</h1>

<% if user_signed_in? %>
  <%= link_to "Добавить сообщество", new_admin_community_path, class: 'M_ButtonAdd'%>
<% end %>
</div>

<div id="communities">
  <% @communities.each do |community| %>
    <%= link_to community_path(community), class: 'event_card' do %>
      <%= render "communities/community", community: community %>
    <% end %>
  <% end %>
</div>
</div>


