<p style="color: green"><%= notice %></p>

<% content_for :title, "Communities" %>

<h1>Communities</h1>

<%= link_to "New community", new_community_path %>

<div id="communities">
  <% @communities.each do |community| %>
    <%= link_to community, class: 'event_card' do %>
      <%= render community %>
    <% end %>
  <% end %>
</div>
